body {
    margin: 0;
    background-color: #101010;
    font-family: Arial, sans-serif;
    padding-top: 5vh; /* Space for the floating header */
}

.header {
    background-color: #151515;
    color: white;
    height: 7.5vh;
    width: 100%;
    position: fixed; /* Makes the header float */
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    padding: 4vh;
    color: white;
    font-family: 'Iosevka Web';
}

.headertext {
    font-family: 'Iosevka Web';
    margin: 3vh;
    margin-right: 1vh;
    font-size: 1.5vh;
      
    display: inline-block;
    position: relative;
    padding-bottom: .2%;
}

.headertext:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .headertext:hover:after { 
    width: 100%; 
    left: 0; 
  }

.headertextt {
   font-family: 'Iosevka Web';
    margin: 3vh;
    font-size: 1.5vh;
    margin-left: 0vh;
    margin-right: 1vh;
    display: inline-block;
}

.headerlink {
    font-family: 'Iosevka Web';
    margin: 3vh;
    font-size: 1.4vh;
    margin-right: 1vh;
    margin-left: 0vh;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: .2%;
    color: #fff;
}

.headerlink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

.headerlink:hover:after { 
    width: 100%; 
    left: 0; 
}

.mainsectiontext {
    font-size: 2vh;
    font-weight: 600;
}

.maintext {
    font-size: 1.5vh;
    font-weight: 400;
    text-indent: 1vh;
}

.intextlink {
    font-family: 'Iosevka Web';
    font-style: italic;
    text-decoration: none;
    position: relative;
    padding-bottom: .2%;
    color: white;
    font-weight: 600;
}

.intextlink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

.intextlink:hover:after { 
    width: 100%; 
    left: 0; 
}

.contacttext {
    font-weight: 600;
}

.image {
    margin-right: 1.5vh;
    float: left;
    border: 0.6vh solid #fff;
    height: 27%;
    width: 27%;
    animation-name: example1;
    animation-duration: 1s;
    opacity: 1;
}

.image:hover {
    animation-name: example;
    animation-duration: 1s;
    opacity: 0.8;
}

@keyframes example {
    from {opacity: 1;}
    to {opacity: 0.8;}
}

@keyframes example1 {
    from {opacity: 0.8;}
    to {opacity: 1;}
}

.maintextt {
    text-indent: 1.5vh;
    font-size: 1.5vh;
    font-weight: 400;
    float: center;
}

.intextlinkk {
    font-family: 'Iosevka Web';
    font-style: italic;
    text-decoration: none;
    padding-bottom: .2%;
    color: white;
    font-weight: 600;
    font-size: 1.5vh;
    float: center;
}

.dropdown {
    font-family: 'Iosevka Web';
    font-size: 1.5vh;
    display: inline-block;
    position: relative;
    padding-bottom: .2%;
}

.dropdown button{
    position: float;
    margin: 3vh;
    margin-right: 1vh;
    font-size: 1.5vh;
    font-family: 'Iosevka Web';
    background-color: #151515;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    float: center;
    display: flex;
}

.dropdown a:hover:after { 
    width: 100%; 
    left: 0; 
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #151515;
    border: 0.2vh solid;
    min-width: 100px;
    margin-left: 3vh;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown button:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: flex;
    height: 2px;
    left: 50%;
    float: center;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

.dropdown button:hover:after { 
    width: 100%; 
    left: 0; 
}